parameters:
	bootstrapFiles:
		- drupal-autoloader.php
	excludePaths:
		- '*.api.php'
		- '*/tests/fixtures/*.php'
	fileExtensions:
		- module
		- theme
		- inc
		- install
		- profile
		- engine
	dynamicConstantNames:
		- Drupal::VERSION
	scanFiles:
		- stubs/Twig/functions.stub
	drupal:
		drupal_root:
		metadata: '.phpstan.meta'
		bleedingEdge:
			checkDeprecatedHooksInApiFiles: false
			checkCoreDeprecatedHooksInApiFiles: false
			checkContribDeprecatedHooksInApiFiles: false
		rules:
			testClassSuffixNameRule: false
			dependencySerializationTraitPropertyRule: false
			accessResultConditionRule: false
			classExtendsInternalClassRule: true
			pluginManagerInspectionRule: false

parametersSchema:
	drupal: structure([
		drupal_root: schema(string(), nullable())
		metadata: string()
		bleedingEdge: structure([
			checkDeprecatedHooksInApiFiles: boolean()
			checkCoreDeprecatedHooksInApiFiles: boolean()
			checkContribDeprecatedHooksInApiFiles: boolean()
		])
		rules: structure([
			testClassSuffixNameRule: boolean()
			dependencySerializationTraitPropertyRule: boolean()
			accessResultConditionRule: boolean()
			classExtendsInternalClassRule: boolean()
			pluginManagerInspectionRule: boolean()
		])
	])
services:
	metaMap:
		class: mglaman\PHPStanDrupal\Drupal\MetaMap
		arguments:
			parser: @currentPhpVersionSimpleDirectParser
			metaDir: '%drupal.metadata%'
	-
		class: mglaman\PHPStanDrupal\Drupal\ServiceMap
		arguments:
		  metaMap: @metaMap
	-
		class: mglaman\PHPStanDrupal\Drupal\ExtensionMap
	-
		class: mglaman\PHPStanDrupal\Drupal\EntityDataRepository
		arguments:
			metaMap: @metaMap
	-
		class: mglaman\PHPStanDrupal\Type\EntityTypeManagerGetStorageDynamicReturnTypeExtension
		tags: [phpstan.broker.dynamicMethodReturnTypeExtension]
	-
		class: mglaman\PHPStanDrupal\Type\EntityStorage\EntityStorageDynamicReturnTypeExtension
		tags: [phpstan.broker.dynamicMethodReturnTypeExtension]
	-
		class: mglaman\PHPStanDrupal\Type\EntityRepositoryReturnTypeExtension
		tags: [phpstan.broker.dynamicMethodReturnTypeExtension]
	-
		class: mglaman\PHPStanDrupal\Type\EntityStorage\GetQueryReturnTypeExtension
		tags: [phpstan.broker.dynamicMethodReturnTypeExtension]
	-
		class: mglaman\PHPStanDrupal\Type\ContainerDynamicReturnTypeExtension
		tags: [phpstan.broker.dynamicMethodReturnTypeExtension]
	-
		class: mglaman\PHPStanDrupal\Type\DrupalClassResolverDynamicReturnTypeExtension
		tags: [phpstan.broker.dynamicMethodReturnTypeExtension]
	-
		class: mglaman\PHPStanDrupal\Type\EntityQuery\EntityQueryDynamicReturnTypeExtension
		tags: [phpstan.broker.dynamicMethodReturnTypeExtension]
	-
		class: mglaman\PHPStanDrupal\Type\EntityQuery\EntityQueryAccessCheckDynamicReturnTypeExtension
		tags: [phpstan.broker.dynamicMethodReturnTypeExtension]
	-
		class: mglaman\PHPStanDrupal\Type\EntityAccessControlHandlerReturnTypeExtension
		tags: [phpstan.broker.dynamicMethodReturnTypeExtension]
	-
		class: mglaman\PHPStanDrupal\Type\DrupalClassResolverDynamicStaticReturnTypeExtension
		tags: [phpstan.broker.dynamicStaticMethodReturnTypeExtension]
	-
		class: mglaman\PHPStanDrupal\Type\DrupalServiceDynamicReturnTypeExtension
		tags: [phpstan.broker.dynamicStaticMethodReturnTypeExtension]
	-
		class: mglaman\PHPStanDrupal\Type\DrupalStaticEntityQueryDynamicReturnTypeExtension
		tags: [phpstan.broker.dynamicStaticMethodReturnTypeExtension]
	-
		class: mglaman\PHPStanDrupal\Reflection\EntityFieldsViaMagicReflectionExtension
		tags: [phpstan.broker.propertiesClassReflectionExtension]
	-
		class: mglaman\PHPStanDrupal\Reflection\EntityFieldMethodsViaMagicReflectionExtension
		tags: [phpstan.broker.methodsClassReflectionExtension]
	-
		class: mglaman\PHPStanDrupal\Drupal\DrupalStubFilesExtension
		tags: [phpstan.stubFilesExtension]
	-
		class: mglaman\PHPStanDrupal\Type\EntityQuery\AccessCheckTypeSpecifyingExtension
		tags:
			- phpstan.typeSpecifier.methodTypeSpecifyingExtension
	-
		class: mglaman\PHPStanDrupal\DeprecatedScope\GroupLegacyScope
		tags:
			- phpstan.deprecations.deprecatedScopeResolver
	-
		class: mglaman\PHPStanDrupal\DeprecatedScope\IgnoreDeprecationsScope
		tags:
			- phpstan.deprecations.deprecatedScopeResolver
	-
		class: mglaman\PHPStanDrupal\DeprecatedScope\DeprecationHelperScope
		tags:
			- phpstan.deprecations.deprecatedScopeResolver
	-
		class: mglaman\PHPStanDrupal\Type\InspectorTypeExtension
		tags:
			- phpstan.typeSpecifier.staticMethodTypeSpecifyingExtension
